.eventsCards{
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
}

#events{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;

}

.bgEvents{
    background-image: url('../../assets/design6.jpg');
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    height: 100vh;
    width: 100%;
  }