.eventsCards{
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
}

#events{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;

}