.about{
    /* margin-top: -45px;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets//headerBg.jpg");

    */
} 