.contact{
    
        display: flex;
        
        flex-direction: column;
        justify-content: space-around;
    
    
}

.contact-row{
    display: flex;
    justify-content: space-between;
}

.colCard{
    text-align: center;
    background-color: #edecec;
    width: 30%;
    padding:20px;
    box-shadow: 2px 3px 10px #011420 ;
    
}

.colCard .logo{
    font-size: 35px;
    margin-bottom: 15px;
}

.colCard .logo a{
   color: #000000;
}

.colCard .logo a:hover{
    color: #063350;
 }
 


.colCard:hover{
    box-shadow: 5px 8px 30px #000000;
 
}

.contact_reach{
    color: #edecec;
    font-size: 24px;
    font-style: italic;
}

#addressID{
    text-decoration: none;
    color: black;
}

#addressID:hover{
    color: #063350;
}

.map {
  margin: 50px 0 ;
  text-align: center;

}

.map iframe{
    height: 400px;
    width: 60%;
}