


/* #header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
      padding: 15px 0;
      background: transparent;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  
  .header-inner-pages {
    background: rgba(0, 0, 0, 0.9) !important;
  } */


/* .header img{
  width: 100%;
  height: 100vh;
} */

.bgHeader{
  background-image: url('../../assets/design1.jpg');
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  height: 100%;
  width: 100%;
}

.fgHeader{
  z-index: 1;
}



.ecell-logo, .learn-logo{
  width: 20%;
  margin-top: 5%;
  
}
.para{
  width: 5%;
  margin-top: 5%;
}

.learn-logo img{
  width: 100%;
  margin-left: 15%;
}

.ecell-logo img{
  width: 80%;
}

.fgHeader .para{
  color: white;
  align-self: center;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}



.row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.fgHeader .para-present{
  color: white;
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 700;
  margin-top:3%;
}

.vvsf-logo {
  width: 30%;
  margin-top: 20px;
}

.vvsf-logo img{
  width: 100%;
}

.fgHeader .para-sprint{
  color: white;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top:6%;
  margin-bottom: 5%;
}


@media (max-width: 375px) {
  .bgHeader{
    background-image: url('../../assets/design1.jpg');
   
    background-size: cover;
    /* Set a specific height */
   
    width: 100%;
  }

  
  .fgHeader .para{
    color: white;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  
  .fgHeader .para-present{
    color: white;
    text-align: center;
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top:3%;
  }

  
.fgHeader .para-sprint{
  color: white;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top:6%;
  margin-bottom: 5%;
}
  



}