/* body {
    background: #3da3d5;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  } */
  
  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h1{
    text-align: center;
    color: rgb(255, 0, 0);
  }

  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }
  .vertical-timeline-element-date{
    font-size: 100px;
  }
  
  .date  {
    /* font-size: 30px; */
    color: black;
  }
  
  #description {
    margin: 1.5em 0 2em 0;
  }

  .container{
    background-color: #ffffff;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: black;
  }
  
  .image{
    vertical-align: middle;
    height: 51px;
    padding-left: 5px;
  }

  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      /* color: rgb(44, 44, 44); */
      margin-top: 1.5em;
      color: black;
      font-size: 100px;
    }
  }

  @media only screen and (max-width: 767px) {
    .image {
      height: 33px;
      padding-left: 3px;
  }

  }